{% extends "pretixcontrol/event/settings_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block inside %}
    <h1>{% trans "Certificate of attendance email" %}</h1>
    <p>
        {% blocktrans trimmed %}
            This text is used when an admin sends a certificate of attendance to a single
            attendee from their order.
        {% endblocktrans %}
    </p>
    <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_field form.pretix_attendance_certificate_mail_subject layout="horizontal" %}
        {% bootstrap_field form.pretix_attendance_certificate_mail_text layout="horizontal" %}
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>
{% endblock %}
